# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__

# Ignore virtual environment directories
venv/
env/
ENV/
.venv/

# Ignore development and build artifacts
*.egg
*.egg-info
dist/
build/
*.log

# Ignore configuration files and local settings
*.env
*.local
*.ini
*.json

# Ignore package managers directories and files
Pipfile.lock
poetry.lock
__pypackages__/

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore system files and directories
.DS_Store
*.swp
*.swo

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore other unnecessary files
*.md
*.rst
*.git
.gitignore
