# ignore pycharm config
.idea
# ignore VSCode config
.vscode
# ignore pycharm project files
*.iml
# ignore python cache
__pycache__
# ignore python compiled files
*.pyc
# ignore .env files
*.env

# ignore python local build files
dfpp.egg-info
dist
indicator_cfg_files/
source_cfg_files/
corrected_indicators/
output/
local_utils/
build/
downloadb.py
dfpp/migration/check_fails_outputs.py
*.zip
*.csv
.pytest_cache
*test.txt
Pipfile.lock
Pipfile
*.xlsx
*.json
